/jivika-frontend/.DS_Store
/jivika-frontend/node_modules
/jivika-frontend/dist
/jivika-frontend/build
/jivika-frontend/npm-debug.log*
/jivika-frontend/yarn-debug.log*
/jivika-frontend/yarn-error.log*
/jivika-frontend/pnpm-debug.log*
/jivika-frontend/.env
/jivika-frontend/.env.local
/jivika-frontend/.env.*.local


/jivika-backend/.env
/jivika-backend/node_modules
/jivika-backend/public/build
/jivika-backend/public/hot
/jivika-backend/public/storage
/jivika-backend/storage/*.key
/jivika-backend/vendor
/jivika-backend/.env
/jivika-backend/.env.backup
/jivika-backend/.env.production
/jivika-backend/.phpunit.result.cache
/jivika-backend/Homestead.json
/jivika-backend/Homestead.yaml
/jivika-backend/auth.json
/jivika-backend/npm-debug.log
/jivika-backend/yarn-error.log
/jivika-backend/.fleet
/jivika-backend/.idea
/jivika-backend/.vscode
